@charset "UTF-8";
/* CSS Document */
body{
	 margin:0;body:0;
	
	
	}
#wrapper{
	background-image:url("../IMG/background.png");
	height:1200px;
	width: 70%;
	background-size:100% 100%;
    background-repeat: no-repeat;
	margin-left:20%;
	}
#navbar{
	height:30px;
	width:80%;	
	position:relative;
	top:88px;
	left:16%;;
	}
nav a{
		text-decoration:none;
		margin-left:20px;
		color:white;
		margin:20px;
	}
	
	#titleImg{
		color: white;
		margin-left:60px;
		margin-top: 30px;
		}
	#titleImge1{
		color:rgb(174,202,251);
		margin-left:70px;
		
		}



	#ocean{
		height:350px;
		width:61%;
		border: 15px solid white;
		position:relative;
		top:10%;
		left:16%;
		background:url(../IMG/anoceanofsky.jpg);
		background-repeat:no-repeat;
		}
	
#textbox{
	
	border:15px solid white;
	position:relative;
	top:200px;
	left:16%;
	height:500px;
	width:61%;
	background-image:url("../IMG/content_back.png");
	background-size: contain;
	 }
	 
h3{ margin:15px;}
p{margin:15px;}

h3,p{ font-size:8px;}