#abc{
    height: 50px;
    width: 60px;
    background-color: aqua;
    transform:translate(15px,15px);
    transform:rotate3d(1,3,3,60deg);
    transform:skew(50deg,50deg);
    transform:perspective(5)

}